/* #region common */


*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    height: 95vh;
    position: relative;
}

i{
    color: white;
}

span{
    color: white;
}
/* #end region common */

/* #region logo-top */
.top-logo{
    background-color: rgba(76, 76, 76, 0.5);
    padding: 0.3rem;
    position: absolute;
    top: 1rem;
    right: 0;
}

.left{
    position: absolute;
    padding: 0.25rem;
    top: 1rem;
    right: 2rem;
}
/* #end region logo-top */

/* #region row */
.row{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 2rem;
}

.img-box{
    width: calc(100% / 12 * 1.5);
    height: auto;
    position: relative;
}

.speaker-name{
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 0;
    background-color: rgba(76, 76, 76, 0.5);
    padding: 0.5rem;
}

img{
    width: 100%;
    height: auto;
}
/* #end region row */


footer{
    background-color: #222222;
    height: 5vh;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.bottom-logo{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
}

.bottom-central{
    display: flex;
    font-size: 1.3rem;
}

.fa-chevron-up{
    font-size: initial;
    align-items: center;
    column-gap: 1rem;
}

.bottom-text{
    color: white;
    text-align: center;
}

